
 .header{
     text-align: center;
     color: brown
 }
 .cont{
     color:white;
 }
  .three{
    background-image: url('../images/image1.jpg');
    height:auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  #contact .form-control{
    background: transparent;
  }
  #contact .form-row ::placeholder {
    color:white;
  }
  #contact .form-group ::placeholder {
    color:white;
  }




